<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui porro quos nostrum, ullam hic reprehenderit nisi deleniti. Repellat officiis unde consequuntur laudantium qui veniam, ipsa maxime rerum eveniet nostrum vitae assumenda tenetur reiciendis. Excepturi sapiente repudiandae quis! Itaque omnis nobis dicta aspernatur hic sunt, consectetur ipsam explicabo, harum corrupti velit.</p>
</body>
</html>