<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body{
            font-family: verdana;
        }
    </style>
</head>
<body>
    <h1>Salut tout le monde</h1>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Deleniti fugit aperiam atque magnam similique ducimus molestias iste, labore nam necessitatibus porro esse ullam corrupti quos dolor quia. Iusto, rem quis sunt libero at illum ut vero amet obcaecati excepturi facilis facere, quaerat maiores officiis quibusdam quasi, exercitationem possimus corporis aut.</p>
</body>
</html>