<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>page not found</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque enim recusandae, quo voluptas fugiat atque eveniet provident, accusamus, sint voluptatum modi iure architecto ullam. Saepe, perspiciatis. Repellat cum, harum quam illum, perspiciatis inventore ex, provident nam enim dolorum atque voluptatum.</p>
    <button>Lorem ipsum dolor sit.</button>
</body>
</html>