<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>contact</title>
</head>
<body>
   <p>contactez nous</p> 
   <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores dolores corporis perspiciatis soluta. Necessitatibus et dolorum quaerat quas pariatur sit expedita maiores! Autem, in velit! Voluptatibus accusantium aperiam quas? Aspernatur id velit rem optio dolore voluptatem corporis vero nulla repudiandae.</p>
</body>
</html>